.vagrant

vagrant/lab1-ubuntu/.vagrant
vagrant/lab2-multi/.vagrant

# LAB 1 bootcamp devops
vagrant/lab1-bootcamp/.vagrant
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/*
vagrant/lab1-bootcamp/jsonplaceholder-app/.env
vagrant/lab1-bootcamp/jsonplaceholder-app/controllers/__pycache__/
vagrant/lab1-bootcamp/jsonplaceholder-app/models/__pycache__/
vagrant/lab1-bootcamp/jsonplaceholder-app/routes/__pycache__/
vagrant/lab1-bootcamp/jsonplaceholder-app/__pycache__/
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/

vagrant/lab1-bootcamp/jsonplaceholder-app/.env
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/activate
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/activate.csh
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/activate.fish
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/dotenv
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/flask
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/normalizer
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/pip
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/bin/pip3
vagrant/lab1-bootcamp/jsonplaceholder-app/flask-env/pyvenv.cfg