<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="{{ url_for('static', filename='javascript/overlay.js') }}" defer></script>

    <script src="{{ url_for('static', filename='javascript/dataViz.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://kit.fontawesome.com/980cff0283.js" crossorigin="anonymous"></script>

    {% block title%}{% endblock%}
  
</head>
<body>

    {% block contenu %}{%endblock %}
    
</body>
</html>