/* ************************************** */
/* ***********STYLE FORMS ************** */
/* ************************************ */
*{
    padding: 0 ;
    margin: 0 ;
}
.divii{
    display: flex;
    flex-wrap: wrap;
}

#formPost.formBlock{
    width: 600px;
    height: auto !important;
}

.formBlock{
    border-radius: 4px;
    background: #ffffff;
    padding: 20px;
}

.formBlock h2{
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 20px !important;
}

#btnQuite{
    position: relative;
    float: right;
    border: none;
    background: #FD9E9E;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .3s;
    padding: 5px 10px;
}

#btnQuite:hover{
    box-shadow: 0 4px 6px 0 #000000;
}

.formBlock > div {
    display: flex;
    flex-direction: column;
}

.formBlock textarea,
.formBlock input,
.formBlock select{
    padding: 20px 10px;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color:#ECFFFD;
    border: none;
    margin-top: 30px;
}

.formBlock textarea{
    resize: none;
    height: 200px;
}

#btnSend{
    background-color: #006778;
    color: #ffffff;
    position: relative;
    float: right;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;
    padding: 20px 20px;
    width: 200px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 30px;
}




#formUser{
    width: 900px;
    background: #ffffff;
}

#formUser .formGroup{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#formUser .formGroup input{
    width: 46%;
    margin-bottom: 25px !important;
    margin-top: 0 !important;
}
#formUser .formGroup .inputCompagny{
    width: 100% !important;
}

#formUser .formGroup p{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#formTodo,
#formAlbum,
#formPhoto,
#formComment{
    width: 600px;
}


/* *************************** */
/* ***********OVERLAY********* */
/* *************************** */
.divOverlay{
    position: absolute;
    top: 0;
    background: linear-gradient(to right, #000000d7, #000000d4);
    width: 100%;
    z-index: 45;
    display: none;
    padding: 100px 0;
    min-height: -webkit-fill-available;
}


.divOverlay.show{
    display: flex;
    justify-content: center;
    align-items: center;
}