{% extends 'user_template.html' %}

{% block title%}
    <title>Albums</title>
{% endblock%}


{% block contenuUser %}
<div class="divOverlay" id="overlayPostForm">
    <form id="formAlbum" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un Album</h2>
        <div>
          {{ formAlbum.title() }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>


<div class="containerAlbum">

    <div class="btns">
        <button class="btnForm">Ajouter</button>
        {% if user.origine == 1 %}
            <a href="/charger_donnees/albums" id="loadAlbums" class="loadLink unique">Charger</a>
        {% endif %}
    </div>
    
    <div class="divContainerAlbum">
        <h2>Albums</h2>
    
        {% if albums.items %}
            
            <div class="divAlbums">
                {% for album in albums.items %}
                <div class="singleAlbum">
                    <a href="/albums/{{album.title_albums}}"><img src="https://via.placeholder.com/250" alt="album"/></a>
                    <p><a href="/albums/{{album.title_albums}}">{{album.title_albums}}</a></p>
                </div>
                {% endfor %}
                
            </div>

            {% if length > 10 %}
                <div class="divPagination">
                    {% if albums.has_prev%}
                        <a class="prev_next_link left" href="/albums?page={{albums.prev_num}}"><i class="fa-solid fa-arrow-left"></i>Précédent</a>
                    {% else%}
                        <a class="prev_next_link lock left">Précédent</a>
                    {% endif %}
                    
                    {% for page in albums.iter_pages() %}

                        {% if page%}
                            <a href="/albums?page={{page}}" class="page-link">{{page}}</a>
                        {% else %}
                            <a class="page-link">...</a>
                        {% endif%}

                    {% endfor %}

                    {% if albums.has_next%}
                        <a class="prev_next_link right" href="/albums?page={{albums.next_num}}">Suivant<i class="fa-solid fa-arrow-right"></i> </a>
                    {% else%}
                        <a class="prev_next_link lock right">Suivant</a>
                    {% endif %}
                </div>
            {% endif %}

        {% else %}
            
            <div class="divNotELement">
                <p>Veuillez ajouter un Album ou charger les albums</p>
            </div>
            
        {% endif %}

        
    </div>



</div>

{% endblock %}