{% extends 'base.html' %}

{% block title %}
    <title>Modification</title>
{% endblock %}


{% block contenu %}

{% if type == 'posts' %}

<div class="divUpdated">
    <form id="formPost" method="post" class="post formBlock">
        <h2>Editer un post</h2>
        <div>
          {{ form_post.title(value=element.title_posts) }}
          {{ form_post.message(content=element.body_posts)}}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>

{% elif type == 'todos' %}

<div class="divUpdated">
    <form id="formTodo" method="post" class="post formBlock">
        <h2>Editer un Todo</h2>
        <div>
          {{ form_todo.title(value=element.title_todos) }}
          {{ form_todo.etat(select=element.status, class="selectOptions") }}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>

{% elif type == 'photos' %}

<div class="divUpdated">
    <form id="formPhoto" method="post" class="post formBlock">
        <h2>Editer un photo</h2>
        <div>
          {{ form_photo.title(value=element.title_photos) }}
          {{ form_photo.url(value=element.url) }}
          {{ form_photo.thumbnail(value=element.thumbnailUrl)}}
        </div>
        
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == 'users' %}

<div class="divUpdated users">
    <form id="formUser" method="post" class="post formBlock">
        <h2>Editer un utilisateur</h2>
        <div>
          <div class="formGroup">
            {{ form_user.fullname(value=element.fullname) }}
            {{ form_user.username(value=element.username) }}
            {{ form_user.email(value=element.email) }}
            {{ form_user.phone(value=element.phone) }}
            {{ form_user.website(value=element.website) }}
          </div>
          <div class="formGroup">
            <p>Adresse</p>
            {{ form_user.ville(value=adresse.city) }}
            {{ form_user.rue(value=adresse.street) }}
            {{ form_user.suite(value=adresse.suite) }}
            {{ form_user.zipcode(value=adresse.zipcode ) }}
            {{ form_user.lat(value=adresse.lat) }}
            {{ form_user.long(value=adresse.long) }}
          </div>
          <div class="formGroup">
            <p>Compagnie</p>
            {{ form_user.compagny(class="inputCompagny", id="compagny", value=compagny.name_compagny) }}
            {{ form_user.bs(value=compagny.catchPhrase) }}
            {{ form_user.catch(value=compagny.bs) }}
          </div>
        </div>

        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == "albums" %}

<div class="divUpdated">
    <form id="formAlbum" method="post" class="post formBlock">
        <h2>Editer un Album</h2>
        <div>
          {{ form_album.title(value=element.title_albums) }}
        </div>

        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == "comments" %}
<div class="divUpdated">
    <form id="formComment" method="post" class="post formBlock">
        <h2>Editer un commentaire</h2>
        <div>
        {{ form_comment.title(class_='postTitle', value = element.name_comments) }}
        {{ form_comment.message(class_='postMessage', content=element.body_comments) }}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% endif %}





{% endblock %}