{% extends 'user_template.html' %}


{% block title%}
    <title>Posts</title>
{% endblock%}


{% block contenuUser %}

<div class="divOverlay" id="overlayPostForm">
    <form id="formPost" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter  un Post</h2>
        <div>
          {{ formPost.title(class_='postTitle') }}
          {{ formPost.message(class_='postMessage') }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
  </form>
</div>




<!-- editing form  -->




<div class="divContainerPosts">
    <div class="btns">
        <button class="btnForm">Ajouter</button>
        {% if user.origine == 1 %}
            <a href="/charger_donnees/posts" id="loadPosts" class="loadLink unique">Charger</a>
        {% endif %}
    </div>
    
    
    <div class="big" id="big">

        <h2>Mes posts</h2>
        {% if posts.items %}

            <table id="postTable">
                <thead>
                    <tr>
                        <th class="th">Titre</th>
                        <th class="th">Extrait</th>
                        <!-- <th class="th">Auteur</th> -->
                        <th class="th">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts.items %}
                        <tr class="tr">

                            <td class="td">{{ post.title_posts }}</td>
                            <td class="td">{{ post.body_posts }}</td>
                            <!-- <td class="td">{{user['fullname']}}</td> -->
                
                            <td class="td">
                                <a href="/posts/{{post.title_posts}}"><i class="fa-solid fa-eye"></i></a>
                                <a href="/posts/edit/{{post.id_posts}}"><i class="fa-solid fa-pen"></i></a>
                                <a href="/posts/delete/{{post.id_posts}}"><i class="fa fa-trash" ></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if length > 5 %}
                <div class="divPagination">
                    {% if posts.has_prev%}
                        <a class="prev_next_link left" href="/posts?page={{posts.prev_num}}"><i class="fa-solid fa-arrow-left"></i>Précédent</a>
                    {% else%}
                        <a class="prev_next_link lock left">Précédent</a>
                    {% endif %}
                    
                    {% for page in posts.iter_pages() %}

                        {% if page%}
                            <a href="/posts?page={{page}}" class="page-link">{{page}}</a>
                        {% else %}
                            <a class="page-link">...</a>
                        {% endif%}

                    {% endfor %}

                    {% if posts.has_next%}
                        <a class="prev_next_link right" href="/posts?page={{posts.next_num}}">Suivant<i class="fa-solid fa-arrow-right"></i> </a>
                    {% else%}
                        <a class="prev_next_link lock right">Suivant</a>
                    {% endif %}
                </div>
            {% endif %}
                    
        {% else %}
            <div class="divNotELement">
                <p>Aucun post pour le moment !</p>
            </div>

       
        {% endif %}
    
    </div>
</div>

{% endblock %}
